.button {
  width: 200px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 50px;
  background-color: #3687ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
