body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  margin: 5px;
  padding: 5px;
}

.navbar {
  display: flex;
  flex-direction: column;
}
